html {
    font-size: 10px;
    
}
body{
    font-family: 'Sora', sans-serif;
    color: black;
    background-color: #ffffE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header{
    padding-top: 10px;
    text-align: center;
}
nav{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

.links{
    margin: 20px 20px 20px 20px;
    
}



h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}

img{
    max-width: 100%;
    height: auto; 
}

#title{
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#img1-div{
    margin: 0 auto;
}


#image1{
    max-height: 600px;
    display: block;
    margin: auto;
}

#image1:hover{
    box-shadow: 5px 5px 10px lightgrey, -5px -5px 10px lightgrey;
    
}

#img-caption{
    text-align: center;
}

#img-info{
    font-weight: lighter;
    font-size: 1.5rem ;
    margin-top: 0px;
    text-align: center;
    
}

#tribute-info{
    font-size: 2rem; 
    margin: 0 auto;
    padding: 0px 100px 0px 100px
}

#youtube-vid{
    display: block;
    margin: auto;
}

footer{
    padding-top: 10px
}