html {
    font-size: 10px;
    

}
body{
    font-family: 'Sora', sans-serif;
    color: black;
    background-color: #ffffE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}

img{
    max-width: 100%;
    height: auto; 
}

#title{
    text-align: center;
}

#img1-div{
    margin: 0 auto;
}


#image1{
    max-height: 600px;
    display: block;
    margin: auto;
}

#img-caption{
    text-align: center;
}

#img-info{
    font-weight: lighter;
    font-size: 1.5rem ;
    margin-top: 0px;
    text-align: center;
    
}

#tribute-info{
    font-size: 2rem; 
    margin: 0 auto;
    padding: 0px 100px 0px 100px
}